# Godot 4+ specific ignores
.godot/

# Other Godot ignores
*.translation
override.cfg

# LireOffice
*.~lock.*

# GhostWriter
*.md.backup

# GUT
.gut_editor_shortcuts.cfg

# Temporary files
*.tmp

# Exports
exports/

# LiveServer symlink
docs/Bloc-notes-plus-plus